.wrapper {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.contentWrapper {
  padding: 0 20px;
}

  .contentWrapper p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top: 0;
    color: #2E4C5D;
  }

  .contentWrapper .published {
    background-color: #2E4C5D;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    font-style: italic;
  }

  .contentWrapper h2 {
    color: #F0986B;
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
  }

  .contentWrapper img {
    max-width: 100%;
  }

  .contentWrapper a {
    color: #2E4C5D;
    text-decoration: underline;
  }

  .contentWrapper ul {
    display: block;
    list-style-type: disc;
    padding-left: 20px;
  }

  .contentWrapper ul li {
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
    color: #2E4C5D;
  }

  .related {
    border-top: 1px dotted #2E4C5D;
    padding: 1rem 20px 1px;
    margin-top: 2rem;
    color: #2E4C5D;
    font-family: 'Oswald';
    margin-bottom: .5rem;
    text-transform: uppercase;
  }

  .relatedInfoRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 10px;
    box-sizing: border-box;
  }

@media only screen and (max-width: 730px) {
  .related {
    padding: 1rem 1rem;
  }
  .relatedInfoRow {
    flex-direction: column;
  }
}