.wrapper {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  box-sizing: border-box;
  align-items: stretch;
  justify-content: space-around;
}

.indexItem {
  align-self: flex-start;
  width: 48%;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.indexItem img {
  max-width: 100%;
}

.indexItem h2 {
  position: absolute;
  z-index: 3;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  font-family: 'Oswald';
  font-size: 24px;
}
  .indexItem h2 a {
    color: #2F4C5C;
    text-decoration: none;
  }

  .indexItem h2 span {
    background-color: #A5D7DC;
    padding: 3px 10px;
    box-decoration-break: clone;
    font-family: 'Oswald';
    font-size: 24px;
  }

@media only screen and (max-width: 730px) {
  .row {
    flex-direction: column;
  }
  .indexItem {
    width: 100%;
    padding: 0;
  }
}
