.wrapper {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
  flex-direction: row;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: space-around;
}

.row::after {
  content: "";
  width: 48%;
  max-width: 100%;
}

@media only screen and (max-width: 730px) {
  .row {
    flex-direction: column;
  }
  .row a {
    width: 100%;
    padding: 0;
  }
}
