.wrapper {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 10px;
}

  .wrapper h2 {
    color: #F0986B;
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
  }

  .wrapper h2 > span {
    color: #23786A;
  }

.artistWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artistWrapper::after {
  content: "";
  width: 48%;
}

.artistWrapper img {
  width: 100%;
}
  