.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0 20px;
}

  .wrapper h2 {
    color: #F0986B;
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
  }

.artistWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

  .artistWrapper img {
    width: 100%;
  }

.artistNode {
  width: 30%;
  padding: 5px;
  animation: fadein .5s;
}

  .artistNode a {
    text-decoration: none;
    color: inherit;
  }

@media only screen and (max-width: 730px) {
  .artistNode {
    width: 100%;
    padding: 5px;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}