.wrapper {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 10px;
}

  .wrapper h2 {
    color: #324C59;
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-left: 10px;
  }

  .wrapper h3 {
    color: #324C59;
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
    padding-left: 10px;
    margin-top: -5px;
  }

  .wrapper h2 span {
    color: #23786A;
  }

  .wrapper p {
    padding-left: 10px;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100% ;
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: rgb(236, 236, 236, .3);
  }

  .item {
    width: 25%;
  }
  
  .liveTwitterItem,
  .liveInstagramItem {
    background-image: linear-gradient(to right, #314C5A, #16866F);
    box-sizing: border-box;
    padding: 10px;
    width: 33%;
    color: white;
    margin-bottom: 10px;
  }

  .liveTwitterItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .liveInstagramItemImg {
    max-width: 100%;
  }

  .liveInstagramItemAuthor {
    font-style: italic;
  }

  .liveTwitterTweet {
    font-size: 26px;
  }

  .liveTwitterLink {
    color: white;
    text-decoration: none;
    font-style: italic;
  }

  .button {
    text-decoration: none;
    color: white;
    background-color: #EE986F;
    padding: 5px 8px;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  .button:hover {
    background-color: #2A4351;
  }
  
  @media only screen and (max-width: 730px) {
    .row {
      flex-direction: column;
    }
    .item, .liveInstagramItem, .liveTwitterItem  {
      width: 100%;
      margin-bottom: 10px;
    }
  }