.wrapper {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px 10px;
}

  .wrapper h2 {
    color: #324C59;
    font-family: 'Oswald';
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-left: 10px;
  }

  .wrapper h2 span {
    color: #23786A;
  }

  .wrapper p {
    padding-left: 10px;
  }

  .row {
    display: flex;
    flex-direction: row;
    width: 100% ;
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: rgb(236, 236, 236, .3);
  }

  .item {
    width: 25%;
  }
  
  .liveInstagramItem {
    background-image: linear-gradient(to right, #314C5A, #16866F);
    box-sizing: border-box;
    padding: 10px;
    width: 33%;
    color: white;
  }

  .liveInstagramItemImg {
    max-width: 100%;
  }

  .liveInstagramItemAuthor {
    font-style: italic;
  }
  
  @media only screen and (max-width: 730px) {
    .row {
      flex-direction: column;
    }
    .item, .liveInstagramItem  {
      width: 100%;
    }
  }