body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-image: url('../../../static/bg.jpg');
  background-size: 400px;
  background-attachment: fixed;
}

h1, h2 {
  margin-top: 0;
  padding: 0;
}

textarea, input, button { outline: none; }

button {
  cursor: pointer;
}