.artistNode {
  box-sizing: border-box;
  width: 33.33333333%;
  animation: fadein .5s;
  padding: 10px;
}

  .artistNode a {
    text-decoration: none;
    color: inherit;
  }

  .image {
    position: relative;
  }

  .description {
    background-image: linear-gradient(to right, #314C5A, #16866F);
    background-color: #16866F;
    margin: 0;
    padding: 10px 15px;
    transform: translateY(-5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .description p {
    margin: 0;
  }

  .description span{
    text-transform: uppercase;
    font-size: .7rem;
  }

  .stage {
    color: white;
    font-weight: 700;
  }

@media only screen and (max-width: 1015px) {
  .artistNode {
    width: 50%;
  }
}

@media only screen and (max-width: 730px) {
  .artistNode {
    width: 100%;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}