.artistNode {
  width: 22%;
  animation: fadein .5s;
}

  .artistNode a {
    text-decoration: none;
    color: inherit;
  }

  .image::before {
    position: absolute;
    z-index: 2;
    width: calc(100% - 4px);
    height: calc(100% - 7px);
    border: 2px solid #EE986F;
    transform: translateX(10px) translateY(-10px);
    content: "";
  }

  .image {
    position: relative;
  }

  .description {
    color: white;
    background-color: #314C5A;
    margin: 0 0 30px;
    padding: 10px 10px;
    transform: translateY(-5px);
  }

@media only screen and (max-width: 730px) {
  .artistNode {
    width: 100%;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}