.filterWrapper {
  color: #304C5B;
  padding: 0  0 20px 0;
  display: inline-block;
  font-weight: 700;
}

.button {
  border-bottom-color: #304C5B;
  border-bottom-width: thick;
}

button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
  padding: 5px 0px;
  margin: 0 15px;
  color: #304C5B;
  box-sizing: border-box;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}