.navigationWrapper {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.icon {
  display: none;
}

.tickets {
  background-color: #304C5B;
  padding: 5px 15px;
  font-size: 20px;
  margin-right: 30px;
}

  .tickets a {
    color: white;
    text-decoration: none;
  }

.navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-size: 20px;
  background-color: #FFFFFF;
  margin: 0;
  padding: 15px 0 20px;
}

ul {
  list-style: none;;
  display: flex;
  flex-direction: row;
  padding: 0;
  font-family: "Oswald";
  text-transform: uppercase;
}

ul li {
  margin-right: 30px;
}

ul li a {
  color: #2E4C5D;
  text-decoration: none;
  padding-bottom: 2px;
}

@media only screen and (max-width: 730px) {
  .icon {
    display: flex;
    margin: 10px 10px 10px;
    align-self: flex-end;   
  }

  nav {
    height: auto;
    flex-direction: column-reverse;
  }

  .showNav, .hideNav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  ul {
    padding: 20px 0 10px;
  }

  .tickets {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}